@model Safe_Heaven_2018.Models.allowedTime

@{
    ViewBag.Title = "Details";
}


<div class="container wrap">

    <h2>Details</h2>

    <div>
        <h4>allowedTime</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Players.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Players.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.time)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
