@model Safe_Heaven_2018.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<section class="fancy-input__wrap">
    <div class="container">
        <form action="/Account/Register" method="post" class="fancy-input__form">
            <h1>@ViewBag.Title</h1>
            @Html.AntiForgeryToken()
            <!--  Fancy inputs  -->
            <div class="fancy-input">
                @Html.ValidationSummary("", new { @class = "text" })
             
                <div class="form-group">
                    <label class="label">Email address</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                    @Html.ValidationMessageFor(m => m.Email, "")
                </div>
                <div class="form-group">
                    <label class="label">Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                    @Html.ValidationMessageFor(m => m.Password, "")


                </div>
                <div class="form-group">
                    <label class="label">Confirm Password</label>

                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn" value="Register" />
                </div>
            </div>
        </form>
    </div>

</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
