<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Safe Heaven</title>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    @Html.Partial("_NavBar")

    @*
        edit everything for styles inside the body
    *@

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/main.bundle.js"></script>


    @RenderSection("scripts", required: false)

</body>
</html>
